body{
    position: relative;
    background-image: url(../assets/charactersbb.png);
    background-size:cover;
    background-repeat:no-repeat;

}

.characters h5{
    text-align: center;
    padding-top: 30px;
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: #ffffff;
}
