.banner-characters{
    width: 100%;
    position: relative;
    background-position-x: 50%;
    background-image:linear-gradient(to top, #000 0%, transparent 58%), url(../assets/charactersbb.png);
    background-size:cover;
    background-repeat:no-repeat;

}
@media (min-width: 768px) {
    .banner-characters{
        width: auto;
        /* height: 100vh; */
        position: relative;
        background-image:linear-gradient(to top, #000 0%, transparent 58%), url(../assets/charactersbb.png);
        background-size:cover;
        background-repeat:no-repeat;
    
    }
}

h3{
    text-align: center;
    font-weight: 900;
    line-height: 1;
    color: #ffffff;
}
