body{
    background-image:url(../assets/back_bb.png);
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-background-size: cover; /* SAFARI / CHROME */
    -moz-background-size: cover; /* FIREFOX */
    -ms-background-size: cover; /* IE */
    -o-background-size: cover; /* OPERA */
    height: 100%;
    width: 100%;
}
.characters{
    margin-top: 30px;
text-align: center;
}

.characters h2{
    font-weight: 900;
    font-size: 72px;
    line-height: 1;
    color: #ffffff;
}
