/* header#main-header{
    background: #000;
    height: 72px;
    border-bottom: 1px solid #DDD;
}

header#main-header .header-content{
    width: 100%;
    max-width: 1120px;
    margin:0 auto;
    height: 72px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .header-content .btn-header{
    width: 50px;
    height: 50px;
    color: #ffffff;
    background: #036237;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media screen and (max-width: 900px) {
    #main-header .header-content .btn-header{
        display: flex;
        width: 215px;
        height: 30px;
    }
}
*/
.dev{
  text-align: center;
  align-items: center;
  color: #fbfbfb;
}
.img-logo{
    width: 92px;
    height: 52px;
} 

.btn-header{
    width: 200px;
    height: 40px;
    color: #ffffff;
    background: #036237;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 500;
    font-size: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    display: inline-block;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.navbar-default {
    background-color: #222222;
    border-color: rgba(34, 34, 34, 0.05);
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: #F05F40;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-default .navbar-header .navbar-toggle {
    font-weight: 700;
    font-size: 12px;
    color: #222222;
    text-transform: uppercase;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #222222;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #F05F40;
  }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #F05F40 !important;
    background-color: transparent;
  }
  .navbar-default .nav > li.active > a:hover,
  .navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
  }
  @media (min-width: 768px) {
    .img-logo{
        width: 150px;
        height: 92px;
    } 
    .navbar-default {
      background-color: #222222;
      border-color: rgba(255, 255, 255, 0.3);
    }
    .navbar-default .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
      color: white;
    }
    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
      color: rgba(255, 255, 255, 0.7);
    }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
      color: white;
    }
    .navbar-default.affix {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.05);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
      color: #F05F40;
      font-size: 14px;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
      color: #eb3812;
    }
    .navbar-default.affix .nav > li > a,
    .navbar-default.affix .nav > li > a:focus {
      color: #222222;
    }
    .navbar-default.affix .nav > li > a:hover,
    .navbar-default.affix .nav > li > a:focus:hover {
      color: #F05F40;
    }
    .btn-header{
        width: 50px;
        height: 40px;
        color: #ffffff;
        background: #036237;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 6px;
        font-weight: 500;
        font-size: 20px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        display: inline-block;
        padding: 1px 0px;
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
    }
  }